/* Start Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* End Global */

/* Start Header */

.header {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

/* End Header */

/* Start Nav */

nav p {
  font-size: 25px;
  font-weight: 500;
}

nav .logout button {
  background-color: #31304D;
  color: #FFF;
  padding: 10px 20px;
  transition: 500ms all;
}

nav .logout button:hover {
  background-color: #31304D !important;
  color: #FFF !important;
  opacity: .9;
}

/* End Nav */

/* Start Intro */

.intro {
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #11998e, #38ef7d);
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
}

/* End Intro */